<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Vitrine de produtos (del&iacute;cias) da Brugadeiro! Confira!">
    <meta name="author" content="Brugadeiro">

    <title>Nossas del&iacute;cias - Brugadeiro</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{ app.request.basepath }}/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="{{ app.request.basepath }}/css/bootstrap.min.css" rel="stylesheet">
    <!-- End Bootstrap -->

    <!-- Custom styles for this template -->
    <link href="{{ app.request.basepath }}/css/signin.css" rel="stylesheet">

    <link href="{{ app.request.basepath }}/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body role="document">
    <div id="faixa-marrom">&nbsp;</div>
    <div id="faixa-verde">&nbsp;</div>
    <div class="container" role="main">
        
        <div class="row">
            <div class="col-sm-12 text-center" id="topo">
                <img src="{{ app.request.basepath }}/img/logotipo-brugadeiro.png" class="img-responsive" alt="Logotipo Brugadeiro">
                <h1 class="text-center">Brugadeiro</h1>
            </div>
        </div>

        <div class="row" style="margin-bottom:30px">
            <section class="col-sm-6 col-sm-offset-3">

            {% if is_granted('ROLE_CUSTOMER') %}
                <p class="bg-success">Seja bem-vindo(a) {{ app.security.token.user.username }}!<br><a href="{{ path('cliente_logout') }}">Log out</a></p>
            {% else %}
                <form class="form-signin" action="{{ path('cliente_login_check') }}" method="post">
                    <h2 class="form-signin-heading">Por favor, fa&ccedil;a o login</h2>
                    <label for="inputUser" class="sr-only">E-mail</label>
                    <input type="text" id="inputUser" class="form-control" placeholder="E-mail" name="_username" required autofocus>
                    <label for="inputPassword" class="sr-only">Senha</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Senha" name="_password" required>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="_remember_me" id="_remember_me" value="remember-me"> Lembrar minha sess&atilde;o
                        </label>
                    </div>
                    <button class="btn btn-lg btn-success btn-block" type="submit">Log in</button>
                    <br>
                    <a href="#" data-toggle="modal" data-target="#modal-passwd">&raquo; Esqueci minha senha</a><br>
                    <a href="{{ app.request.basepath }}/novo-cliente">&raquo; Criar meu cadastro</a>
                    {% if error %}
                    <div class="bg-danger error">{{ error }}</div>
                    {% endif %}
                </form>
            {% endif %}

            </section>
        </div>

    </div> <!-- /container -->

    <div class="modal fade bs-modal-lg" id="modal-passwd" tabindex="-1" role="dialog" aria-labelledby="modalFormLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Recupere sua senha</h4>
                </div>
                <form method="post" action="{{ app.request.basepath }}/recover-password" id="form-passwd">
                    <div class="modal-body">
                        <div class="alert alert-success alert-dismissible hide" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                            <span class="response-message"></span>
                        </div>
                        <div class="alert alert-danger alert-dismissible hide" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                            <span class="response-message"></span>
                        </div>
                        <div class="form-group">
                            <label for="produto">Entre com o seu e-mail</label>
                            <input type="email" class="form-control" name="email" id="email" size="25" value="" placeholder="E-mail">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    {% include 'footer.html' %}

</body>
</html>