
body {
    color:#a45e4d;
    background-color:#fffbed;
}

#faixa-marrom {
    background-color:#a45e4d;
    height:60px;
}

#faixa-verde {
    height:10px;
    background-color:#cddc39;
    margin-bottom:16px;
}

#topo .img-responsive {
    margin: 0 auto;
}

#topo h1 {
    /*margin:0;
    font-size:26px;
    text-transform:uppercase;*/
    display:none;
}

h2 {
    margin:45px 0px 45px;
}

h2 p {
    font-size:14px;
}

h3 {
    color:#a45e4d;
    font-size:24px;
}

h3 span {
    font-size:14px;
    color:#5a5b5c;
}

figcaption {
    font-size:10px;
    text-align:justify;
}

.span12{
    margin: 0 auto;
    border-top:4px solid #ffcb05;
    border-bottom:4px solid #ffcb05;
    padding-bottom:25px;
    width:90%;
}

.span12 .row {
    margin:2%;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 176px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color:#fffbed;
  /* Set the fixed height of the footer here */
  min-height:2%;
  background-color:#a45e4d;
  margin-top:1.5%;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer .container {
  width: auto;
  max-width: 800px;
  padding: 0 15px;
}
.footer .container .text-muted {
  margin: 20px 0;
}

.footer a {
    text-decoration:none;
    color:#FFFFFF;
}

.footer a:hover {
    text-decoration:underline;
}